* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    background: none;
}

body {
    background-color: #f6f8fc;
    padding: 20px 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 15px;
    width: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-buttons {
    color: #647cbe;
}

.select {
    color: #1041c9;
    text-decoration: underline;
}

.header-user {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-user i {
    height: 20px;
    width: 20px;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}